.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.titleContainer {
  font-size: 1rem;
  padding-right: 20px;
}
.formElementContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}